{% load static %}

<link rel="stylesheet" href="{%  static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
<link rel="stylesheet" href="{%  static 'fonts/fontawesome-all.min.css' %}">
<link rel="stylesheet" href="{%  static 'fonts/font-awesome.min.css' %}">
<link rel="stylesheet" href="{%  static 'fonts/fontawesome5-overrides.min.css' %}">
<link rel="stylesheet" href="{%  static 'css/Data-Table-1.css' %}">
<link rel="stylesheet" href="{%  static 'css/Data-Table.css' %}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="{%  static 'css/untitled.css' %}">