{% load static %}
<script src="{%  static 'js/jquery.min.js' %}"></script>
    <script src="{%  static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{%  static 'js/chart.min.js' %}"></script>
    <script src="{%  static 'js/bs-init.js' %}"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{%  static 'js/theme.js' %}"></script>